
.thumbnail img{
    width:100%;
}

.thumbnail{
    min-height: 175px;
    padding:0px;
}



.thumbnail .caption-full{
    padding:9px;
}

#delete-form{
    display: inline;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

#map {
    height: 400px;
    width: 100%;
}